name: CD API Ges-RV

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Installer les dépendances
        run: npm ci

      - name: Déployer l'application
        run: |
          echo "Déploiement en production..."
          echo "Version déployée : $GITHUB_REF_NAME"
